@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Zilla+Slab+Highlight:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #22262a;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}
